{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello, World!</title>
  {% block css %}
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <linkhref="{% static 'css/base.css' %}"rel="stylesheet">
  {% endblock css %}
</head>
<body>
  {% include "_includes/nav.html" %}

  <div class="container mx-auto mt-4">
    {% block content %}
    {% endblock content %}
  </div>
</body>
</html>
